<!DOCTYPE html>
<html>
 
<head>
  <title>Passport Authentication</title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootswatch/3.3.7/lumen/bootstrap.min.css">
</head>
 
<body>
    

    <div class="container">
        <div class="row">
          <div class="col-md-6 col-md-offset-3">

             

                <form id="signup" name="signup" method="post" action="/signup"></form>

              <div class="form-group">
                        <label for="name">Name</label>
                        <input name="name" type="text" />
                     </div>
                      <div class="form-group">
                        <label for="email">Email </label>
                        <input class="text" name="email" type="email" />
                      </div>
                    
                     <div class="form-group">
                        <label for="password">Password</label>
                        <input name="password" type="password" />
                    </div>

                     <div class="form-group">
                        <label for="address">address</label>
                        <input name="address" type="text" />
                    </div>

                     <div class="form-group">
                        <label for="phone">phone</label>
                        <input name="phone" type="text" />
                    </div>
             
              
                    <input class="btn" type="submit" value="Sign Up" />
                    

                </form>
               

            </div>
        </div>
    </div>

   <style>
      
   </style>



 
</body>
 
</html>