<!DOCTYPE html>
<html>
 
<head>
    <title></title>
</head>
 
<body>
    
    <form id="signup" name="signup" method="post" action="/signup">
        
        <label for="name">Name</label>
        <input name="name" type="text" />

        <label for="email">Email Address</label>
        <input class="text" name="email" type="email" />
        
        <label for="password">Password</label>
        <input name="password" type="password" />

        <label for="address">address</label>
        <input name="address" type="text" />
        
        <label for="phone">phone</label>
        <input name="phone" type="text" />

        <input class="btn" type="submit" value="Sign Up" />

    </form>
 
</body>
 
</html>